@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
    --White: hsl(0, 0%, 100%);
    --primary-color: #301534;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url(images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(275, 100%, 97%);
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Work Sans", sans-serif;
}

h1 {
    font-size: 2.4rem;
    font-weight: 700;
    padding-left: 8px;
    color: var(--primary-color);
}

h2 {
    font-size: 1.1rem;
    font-weight: 2.1rem;
    color: var(--primary-color);
}

li {
    list-style-type: none;
}

.heading img {
    width: 28x;
    height: 28px;
}

.container {
    background-color: hsl(0, 0%, 100%);
    padding: 34px;
    width: 600px;
    border-radius: 10px;
}

.accordion {
    margin-bottom: 18px;
    border-radius: 6px;
    border: 1px solid #ece6ec;
}

.heading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}

.accordion-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.accordion-heading h2 {
    width: 450px; 
}

.accordion-heading:hover {
    cursor: pointer; 
    background-color: #f4f1f5;  
}

.accordion-icon {
    background-image: url(/images/icon-plus.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 30px;
    height: 31px;
}

.accordion-content {
    text-align:justify;
    text-justify:inter-word;
    margin-bottom: 14px;
    padding-left: 8px;
    padding-right: 24px;
    opacity: 0.5;
    color: var(--primary-color);
    max-height: 0;                   
    overflow: hidden;                
    opacity: 0;  
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
}

.accordion.active .accordion-content {
    max-height: 300px;
    opacity: 0.6;
    padding: 8px 8px;               
    margin-bottom: 14px;
}

.accordion.active .accordion-icon {
    background-image: url(/images/icon-minus.svg);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
        color: hsl(228, 45%, 44%); 
} 

@media (max-width: 730px) {
    .body {
        background: url(images/background-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .container {
        width: 340px;
        padding: 24px;
        margin-top: 30px;
        border-radius: 10px;
    }

    .accordion-content {
        text-align: left;
        font-size: 0.9rem;
        margin-bottom: 14px;
        padding-left: 4px;
        padding-right: 28px;
    }

    h1 {
        font-size: 1.9rem;
        padding: 14px 0;
        margin-top: 14px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 0.9rem;
        margin-bottom: 14px;
    }

    .accordion {
        margin-bottom: 18px;
    }

    .accordion-heading {
        display: flex;
        justify-content: space-between;
    }

    .accordion-heading h2 {
        width: 240px; 
    }

    .accordion-icon {
        width: 26px;
        height: 27px;
        margin-bottom: 12px;
    }   

}

