*,
*::after,
::before {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

h1, h2,
h3, h4,
h5, h6 {
   word-wrap: break-;
   overflow-wrap: break-;
   text-wrap: balance; 
} 

p,
li,
figcaption {
   max-width: 65ch;
   text-wrap: pretty;
   word-wrap: break-word;
   overflow-wrap: break-word;
}

img,
picture,
video {
   display: block;
   max-width: 100%;
   height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-display: swap; 
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/libre-franklin-v20-latin-300.woff2') 
}

@font-face {
  font-display: swap; 
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/libre-franklin-v20-latin-600.woff2')
}

@font-face {
  font-display: swap; 
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/libre-franklin-v20-latin-700.woff2') format('woff2'); 
}

 body {
    background-color: #FFFFFF;
    font-family: 'Libre Franklin', serif;
    padding: 2rem;
    text-align: center;
 }

 .ping-logo {
    margin: 5.4rem auto 2.8rem auto;
    width: 3.6rem;
 }

 .ping-page-heading {
    font-size: 1.42rem;
    margin-bottom: 1.4rem;
 }

 .page-heading-light {
    color: hsl(0, 0%, 59%);
    font-weight: 300;
 }

 .ping-page-subscribe {
    max-width: none;
    font-size: 1rem;
    margin-bottom: 2.6rem;
 }

 .ping-form-email,
 .submit-form {
    padding: .89rem;
    border-radius: 3rem;
    width: 100%;
 }

 .error-message {
   margin-top: .6rem;
   font-size: .72rem;
   color: red;
 }

  .ping-form-email {
    border: 2px solid hsl(223, 100%, 88%);
    padding-left: 3rem;
 }

 .ping-form-email::placeholder {
    font-size: .789rem;
    opacity: 0.5;
 }

 .submit-form {
    background-color: hsl(223, 87%, 63%);
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 4rem;
    margin-top: 1.2rem;
 }

 .hidden {
    display: none;
 }

 .invalid {
   border:1px solid red;
 }

 .ping-page-illustration {
   margin-bottom: 6rem;
 }

 .ping-page-socials {
   list-style: none;
   display: flex;
   justify-content: center;
   margin-bottom: 1.4rem;
   gap: 12px;
}

.ping-social-item {
   color: hsl(223, 87%, 63%);
   padding: .4rem;
   border: 1px solid hsl(223, 100%, 88%);
   border-radius: 50%;
   font-size: .7rem;

}

.ping-page-footer {
   margin-bottom: 2rem;
}

.attribution {
   color: hsl(0, 0%, 59%);
   font-size: .65rem;
   max-width: none;
}


@media (min-width: 768px) {
   body {
      padding: 3.8rem 8rem;
   }

   .ping-logo {
      margin: 1.6rem auto 2.8rem auto;
      width: 4.6rem;
   }

   .ping-page-heading {
      font-size: 2.1rem;
      margin-bottom: 1.3rem;
   }

   .ping-page-form {
      display: flex;
      gap: 1rem;
      margin-bottom: 3rem;
   }

   .form-group {
      flex: 2;
  }

  .ping-form-email {
      width: 100%;
      font-size: .8rem;
  }

  .submit-form {
      flex: 1;
      width: auto;
      margin-top: 0;
      font-size: .8rem;
      box-shadow: 0px 5px 15px hsla(223, 76%, 66%, 0.4);
      cursor: pointer;
      transition: all 0.3s ease;
  }

  .submit-form:hover {
      background-color: hsl(223, 87%, 70%);
  }
}

@media (min-width: 1024px) {
   body {
      padding: 3.8rem 21.5rem;
   }

   .ping-logo {
      margin: 1.6rem auto 3.4rem auto;
   }

   .ping-page-heading {
      font-size: 3rem;
      margin-bottom: 1.05rem;
   }

   .ping-page-subscribe {
      font-size: 1.24rem;
   }

   .form-group {
      flex: 2;
  }

   .ping-page-illustration {
      margin-bottom: 3.8rem;
 }

}