:root {
--clr-dark-grayish-blue: hsl(217, 19%, 35%);
--clr-desaturated-dark-blue: hsl(214, 17%, 51%);
--clr-grayish-blue: hsl(212, 23%, 69%);
--clr-bight-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2,
h3, h4,
h5, h6 {
    text-wrap: balance;
} 

p,
li,
figcaption {
    max-width: 65ch;
    text-wrap: pretty;
}

img,
picture,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}


@font-face {
    font-display: swap;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    src: url(/assets/fonts/manrope-v20-latin-500.woff2);
}

@font-face {
    font-display: swap;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/manrope-v20-latin-700.woff2);
}


body {
    font-family: "Manrope", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    background-color: var(--clr-bight-grayish-blue);
}

.article-container {
    display: flex;
    max-width: 50rem;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.article-left {
    width: 45%;
}

.article-right {
    width: 55%;
    padding: 34px;
}

.article-img {
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.article-heading {
    color: var(--clr-dark-grayish-blue);
    margin-bottom: 11px;
}

.article-details {
    color: var(--clr-desaturated-dark-blue);
    margin-bottom: 18px;
    font-size: 0.94rem;
}

.author {
    display: flex;
    justify-content: space-between;
}

.author-details {
    display: flex;
    gap: 10px;
}

.author-infor {
    margin-top: 3px;
}

.author-name {
    margin-bottom: 2px;
    color: var(--clr-dark-grayish-blue);
    font-size: 0.92rem;
}

.date {
    color: var(--clr-grayish-blue);
    font-size: 0.72rem;
}

.author-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.share-to-socials {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-top: 8px;
    margin: 0 auto;
}

.socials-container {
    margin-top: 3px;
    cursor: pointer;
    border: none;
    background-color: var(--clr-bight-grayish-blue);
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 768px) {
    body {
        padding: 48px;
    }

    .article-container {
        flex-direction: column;
        max-width: 33rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .article-img {
        display: block;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    .article-left {
        width: 100%;
    }
    
    .article-right {
        width: 100%;
        padding: 34px;
        padding: 42px 42px 30px 42px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .article-heading {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .article-details {
        margin-bottom: 30px;
        font-size: 0.89rem;
        line-height: 1.5;
    }

    .attribution { 
        display: none;
    }
}