:root {
--clr-dark-grayish-blue: hsl(217, 19%, 35%);
--clr-desaturated-dark-blue: hsl(214, 17%, 51%);
--clr-grayish-blue: hsl(212, 23%, 69%);
--clr-bight-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2,
h3, h4,
h5, h6 {
    text-wrap: balance;
} 

p,
li,
figcaption {
    max-width: 65ch;
    text-wrap: pretty;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    background-color: var(--clr-bight-grayish-blue);
}

img {
    display: block;
    width: 100%;
}

.article-container {
    display: flex;
    max-width: 48rem;
    background-color: white;
}

.article-left {
    width: 50%;
}

.article-right {
    width: 50%;
}

.author {
    display: flex;
    justify-content: space-between;
}

.author-details {
    display: flex;
    gap: 10px;
}

.author-infor {
    margin-top: 6px;
}

.author-name {
    margin-bottom: 4px;
}

.author-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.share-to-socials {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-top: 8px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}